*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

.container{
    background-color: #f1eeee;
}

.container header nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem 7%;
    box-shadow: 0px 2px 4px rgba(1,1,1,0.3);
    /* flex-wrap: wrap; */
}

.container header nav .logo{
    font-size: 2rem;
    font-weight: 700;
    text-shadow: 3px 3px 10px rgba(1,1,1,0.6);
}

.container header nav .logo a{
    text-decoration: none;
    color: black;
}
.container header nav .links ul{
    display: flex;
    list-style-type: none;
}

.container header nav .links ul li{
    padding: 0.5rem 1rem;
}

.container header nav .links ul li a{
    text-decoration: none;
    color: black;
}

.container main .banner{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 7%;
    flex-wrap: wrap;
}

.container main .banner .img{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container main .banner .img img{
    width: 70%;
    height: 70%;
    border-radius: 50%;
}

.container main .banner .text{
    width: 50%;
}

.container main .title{
    text-align: center;
}

.container main .projects{
    padding: 3rem 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.container main .projects .card{
    width: 32%;
    transition: all 0.3s ease;
    
    overflow: hidden;
    height: fit-content;
    /* object-fit: cover; */
    
}

.container main .projects .card .img-holder{
    /* height: 100%;
    width: 100%; */
    height: fit-content;
    position: relative;
}

.container main .projects .card .img-holder a{
    display: block;
    width: 100%;
    height: 100%;
    /* border-radius: 20px; */
}

.container main .projects .card .img-holder a img{
    object-fit: contain;
    width: 100%;
    object-position: center;
    height: 100%;
    /* border-radius: 20px; */
}

.container main .projects .card .card-title{
    position: absolute;
    bottom: 0.2rem;
    /* left: 1rem; */
    padding: 1rem 1rem;
    font-weight: 600;
    width: 100%;
    background-color: rgba(240, 248, 255,0.5);
}

.container main .projects .card:hover{
    transform: scale(1.03);
    box-shadow: 2px 3px 8px rgba(1,1,1,0.3),-2px -3px 8px rgba(0,0,0,0.5);
}

@media screen and (max-width:930px) {
    .container main .banner{
        padding: 2rem 4%;
    }

    .container main .projects{
        padding: 2rem 4%;
    }

    .container main .projects .card{
        width: 30%;
    }
    
}

@media screen and (max-width:768px) {
    .container main .projects .card{
        width: 48%;
    }

    .container header nav .links{
        display: none;
    }
}

@media screen and (max-width:440px) {
    .container main .projects .card{
        width: 90%;
    }
/* 
    .container header nav .links{
        display: none;
    } */

    .container main .banner .img{
        width: 80%;
    }

    .container main .banner .text{
        width: 100%;
        text-align: center;
    }
}


