:root {
    --text-color: var(#3C3A47);
    --text-btn-color: var(#997F44);
    --muted-color: var(#B1B0B5);
    --btn-text: var(#D19361);
    --toggle-circle: var(#FFD371);
    --back-light: var(#F5F5F6);
}